.timeline {
    display: grid;
    grid-template-columns: repeat(0, 3rem);
}

h1 {
    grid-column: 1 / -1;
}

.temp {
    display: flex;
    align-items: center;
}

.sub {
    border-left: thin orange solid;
    padding: 7 rem;
}